[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2018.4.16"
chardet = "==3.0.4"
idna = "==2.6"
"iso8601" = "==0.1.12"
pyyaml = "==5.4"
requests = "==2.18.4"
"urllib3" = "==1.22"
pycarwings2 = { git="https://github.com/jdhorne/pycarwings2.git"}
python-twitter = "*"

[dev-packages]

[requires]
python_version = "2.7"
